

.options {
        
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 2px 16px;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    font-size: 1rem;
    line-height: 1.5;
    
}


select:focus {
    border-color: #007bff; 
    outline: 0; 
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}

.choices {
    display: flex;
    flex-direction: row;
    
    

}
.customOrders {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#orderButton {
    margin-top: 20px; 
}
.ordersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    text-align: center;
}
